* {
    top: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    font-size: x-large;
    color: gray;
    /* user-select: text    ; */
}

/* 
nav,
section {
    user-select: text;
} */

.dwn-line {
    font-weight: 800;
    font-size: .5rem;
    color: rgb(49, 66, 89);
}

.cmp-name {
    font-weight: bold;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.9);
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 540;
    font-style: normal;
    /* font-size: 1.3vw; */
}

h1 {
    color: rgb(24, 28, 49);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

p {
    color: rgb(111, 123, 139);
    font-size: 1rem;
    font-family: "Poppins", sans-serif;

}

nav {
    font-family: "Nunito Sans", sans-serif;
    background: rgba(255, 255, 255, 0.8);
    /* padding-top: .1vw; */
    position: sticky;
    z-index: 1000;
    backdrop-filter: blur(10px);
    /* border: solid; */
    /* position: fixed; */
    /* top: 0px; */
    /* padding-top: .5rem;
    z-index: 50;
    height: 80px;
    width: 100%; */


}

section {
    z-index: -1;
}

#navBar-con {
    position: relative;
}


#navBar-left {
    /* font-size: 90px; */
    width: 30%;
    cursor: pointer;
    /* align-content: center; */
}

#navBar-left img {
    width: 4rem;
    height: auto;
    cursor: pointer;
}


#navBar-left-cmp-name {
    cursor: pointer;
    position: absolute;
    margin-left: 5.3vw;
    margin-top: 1.1vw;
    
}

#navBar-right {
    position: absolute;
    width: fit-content;
    text-align: right;
    width: 100%;
    align-content: center;
}

#navBar-right a {
    /* position: relative; */
    text-decoration: none;
    color: rgb(114, 117, 125);
    padding: 0vw 1.2vw;
    font-size: 1rem;
    font-weight: 500;
    align-self: center;
}

#navBar-right a:hover {
    color: rgb(40, 54, 147);
    transition: .5s ease;

}


.cmn-clr {
    color: rgb(40, 54, 147);
    font-weight: 700;
}

.icon-img {
    width: 64px;
    height: 64px;
    align-self: baseline;
    justify-content: baseline;
    justify-items: baseline;
}

#main-page-con {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 6rem 2.2rem;

}

#main-page-con-left {
    width: 45vw;
}

#main-page-con-left {
    font-size: 1.7vw;
    color: rgb(67, 83, 104);
}

#main-page-con h1 {
    font-weight: 500;

}

#dwn-img {
    width: fit-content;
}

#dwn-img img {
    width: 9.8rem;

}

#dwn-img div {
    width: fit-content;
    float: left;
    margin-right: 1vw;

}

#main-page-con-right {

    /* float: right; */
    position: absolute;
    margin-left: 58.5vw;
    margin-top: 16vw;
}

#circle {
    width: 29rem;
    height: 29rem;
    background: rgb(21, 76, 139);
    border-radius: 100%;
    position: absolute;
    margin-top: -2rem;
}

#main-page-right-box {
    /* padding: 10px; */

}

#main-page-right-img-box {
    margin: 2.2rem 3.4rem;
    width: 25vw;
}

#main-page-right-box img {
    border-radius: 5vw;
    margin-left: 2.1vw;
    margin-top: -.6vw;
    width: 100%;
    height: auto;
    /* position: absolute; */

}

#wave-svg {
    margin-top: 30.8vw;
    margin-left: -.5vw;
    position: absolute;
}

#dimond-svg {
    margin-top: -1vw;
    margin-left: 27vw;
    position: absolute;
}

svg {
    width: 5.3vw;
    height: auto;
}

.icons {
    font-size: 5vw;
    color: rgb(56, 69, 155);
}

#feat-banner {
    width: 100%;
    height: auto;
    /* padding: 10vw 10vw; */
    /* background: red; */
    margin-top: 5vw;
}

.feat-banner-cards {
    padding: 6vw 1.5vw;
    text-align: center;
    width: 20%;
    height: 18rem;
    left: 0;
    float: left;
    color: rgb(49, 66, 89);
    background: rgb(248, 250, 252);

    /* justify-items: left; */
    /* align-self: start; */
    /* margin: 0 auto; */
    /* box-sizing: border-box; */
    /* padding-right: 20px; */
    /* color: rgb(49,66,89); */
}

.feat-banner-cards h3,
.feat-banner-cards p {
    margin-top: .3rem;
}

#feat-banner h3 {
    font-size: x-large;
    font-weight: 500;
}

#feat-banner p {
    margin-top: -1vw;
    font-weight: 400;
    color: inherit;

}

.cmn-effect {
    padding-top: 2rem;
}

#app-ss-con {
    /* margin-top: 25vw; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 18rem;
    padding: 3vw 6rem;
    width: 100%;
}

#app-ss {
    padding: 0rem 0rem;
    margin-left: 2rem;
    width: 100%;
    height: 32rem;
}

#app-ss img {
    width: 17.5rem;
    height: auto;
    border-radius: 1rem;
    /* margin: 1rem; */
}

.ss-header {
    width: 100%;
    text-align: center;
    padding: 3rem 13vw;
    font-size: 1.3rem;
}

.ss-header h1 {
    font-size: 2.7rem;
}

#app-ss-con p {
    font-size: 7rem;
    font-weight: 450;
    font-size: large;
}


#app-ss div {
    float: left;
    /* margin-right: 4rem; */
    /* display: ; */
    width: 1rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-right: 20rem;
    /* padding: 0rem 8rem; */
    /* padding-left: 3rem; */
}



/* #main-page-right-box img{
    padding-left: 4vw;
    padding-top: 2vw;
    border-radius: 20px;
} */
/* border-bottom-left-radius: 2vw; */
/* border-start-end-radius: 2vw; */
.icon-bar {
    display: none;
    color: black;
}

#best-features-con {
    margin-top: 4rem;
    padding-top: 4rem;

    /* border: 1px solid; */
}

#best-features-head {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0vw 20vw;
    text-align: center;
}

#best-features-head h1 {
    font-size: 2.7rem;
    padding: 1rem;

}

#best-features-head p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(50, 66, 89);
    margin-top: -4rem;
    padding: 2rem .3rem;
}

#feat-cards-con {
    /* border: 1px solid; */
    margin-top: 9rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 5px rgba(45, 74, 170, 0.14);
    z-index: 10;
    padding-top: 5rem;
    /* padding: 5rem 0rem; */
    margin: .5rem .5rem;
    /* padding: 2rem 2rem; */
}

#feat-cards {
    /* padding: 2rem 3rem; */
    /* border: 1px solid;
    height: 48.8rem; */
    /* width: fit-content; */
    /* margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto; */
    /* padding: 4rem 2rem; */
    /* margin: 2rem 1rem; */
    /* columns: 3; */
    /* padding-left: 2rem; */
    /* padding: 2rem 3rem; */
    /* border: 1px solid; */
    height: 45.8rem;
    /* width: fit-content; */
    margin-left: auto;
    margin-right: auto;
    /* padding-left: auto;
    padding-right: auto; */
    /* padding: 4rem 2rem; */
    /* margin: 2rem 1rem; */
    /* columns: 3; */
    padding-left: 1.4rem;




}


.feat-cards-items {
    float: left;
    /* border: 1px solid; */
    width: 24rem;
    height: 20rem;
    text-align: center;
    /* margin-right: 3rem; */
    /* padding: 2rem 0rem; */
    /* padding: 1rem 2rem; */
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 23rem;

}

.feat-cards-items h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(24, 28, 49);
    font-weight: 600;
    font-size: 1.5rem;
}

.feat-cards-items p {
    font-weight: 400;
    color: rgb(50, 66, 89);
}

.feat-icons {
    background: rgb(233, 235, 244);
    border-radius: 1.5rem;
    width: 5.5rem;
    padding: 20px;
    color: rgb(56, 69, 155);



}

.feat-icons:hover,
.feat-icons i:hover {
    color: white;
    background: rgb(56, 69, 155);
    /* border-radius: 1.5vw; */
    transition: 1.5s ease;
    cursor: pointer;
}


#about-app-con {
    margin-top: 4rem;
    padding-top: 9rem;
    height: 140rem;
    /* border: solid; */
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    

}

#about-con1 {
    float: left;
    /* width: 100%; */
    height: 38rem;
    padding: 0rem 2rem;
    /* background: linear-gradient(to right,white,white, white,rgb(220,224,240)); */
}

#about-app-con img {
    height: 34rem;
}

#about-app-con h1 {
    font-size: 2.2rem;
    padding-bottom: 1rem;
}

#about-app-con p {
    text-align: justify;
    font-size: 1.2rem;
    color: rgb(50, 66, 89);

}

#about-app-con1-left {
    /* width: 51%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center; */
    width: 40%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#about-app-con1-right {
    /* width: 49%;
    float: left; */
    width: 60%;
    float: left;
    padding-left: 7rem;
}

#about-con2 {
    margin-top: 32rem;
    padding-top: 10rem;
    padding-left: 1rem;

}

#about-app-con2-left h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #314259;
}

#about-app-con1-left img,
#about-app-con2-right img {
    height: 35rem;
}

#about-app-con2-left li {
    font-size: 1.1rem;
    font-weight: 400;
    list-style-image: url(/assets/tick_icon.svg);
    color: #314259;
    /* text-align: justify; */
    /* margin-top: -.4rem; */
}

li::marker {
    font-size: 2.3rem;
}

#about-app-con2-left {
    float: left;
    width: 50%;
}

#about-app-con2-right {
    float: left;
    width: 50%;
    text-align: center;
    height: 50rem;
    padding-top: 6rem;
}

#main-page-con-left p {
    font-weight: 800;
    font-size: 1.24rem;
    color: rgb(49, 66, 89);
}

#work-process-head {
    text-align: center;
    padding: 3rem 15rem;
}

#work-process-head h1 {
    font-size: 2.7rem;
}

#work-process-head p {
    font-size: 1.2rem;
    color: rgb(50, 66, 89);
    margin-top: -.5rem;

}

#connect {
    position: absolute;
    /* z-index: -1;
    display: flex;
    gap: 13rem;
    align-items: center;
    margin-left: 20rem;
    margin-top: -12rem; */
}



#custom-con h1{
    font-size: 2.7rem;
    padding-top: 3rem;
}




#conn-b {
    margin-left: 200%;
    margin-top: 70%;
    position: absolute;
}

#conn-t {
    margin-left: 450%;
    margin-top: 60%;
    /* position: absolute; */
}

#feat-cards2 {

    height: 22rem;
    margin-left: auto;
    margin-right: auto;

    padding-left: 1.4rem;
}

#feat-cards-con2 {
    margin-top: 9rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 5px rgba(45, 74, 170, 0.14);
    z-index: 10;
    padding-top: 5rem;
    /* padding: 5rem 0rem; */
    margin: .5rem .5rem;
    position: relative;
}

#custom-con {
    text-align: center;
    font-size: 1.39rem;
    width: 100%;
    background-color: rgb(248 250 248);
    margin-top: 8rem;
}

#banner {
    width: 100%;
    padding: 2rem .5rem;
}

#custom-con {
    font-size: 1.8rem;
}

#banner img {
    width: 100%;
}

#dwn-con {
}

#download-banner-con{
    background-color: rgb(87, 105, 189);
    height: 28rem;
    border-radius: 1rem;
    /* border: solid red; */
    margin-top: 7rem;
    padding-top: 1rem;
    float: left;

}
#test-card p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
}

#download-banner-left {
    float: left;
    width: 51.5%;
    padding: 1rem 4rem;
}

#download-banner-left img {
    width: 10rem;
    float: left;
    margin-right: 1rem;
}

#download-banner-left h1 {
    font-size: 2.2rem;
    color: white;
}

#download-banner-left p {
    font-size: 1.15rem;
    color: white;
    margin-top: -.5rem;
    padding-bottom: 1.5rem;
}

#download-banner-right {
    width: 48%;
    float: left;
    align-content: end;
    height: 26rem;
    /* border: solid; */
}

#download-banner-right img {
    /* width: 49%; */
    float: left;
    padding-right: 2rem;
}

#download-banner-right div {}

.dwn-right-img1 {
    width: 17.5rem;
    padding-top: 1rem;
}

.dwn-right-img2 {
    width: 17rem;
    padding-top: 4.2rem;
}

.dwn-right-img21 {
    display: none;
}

.dwn-right-img12 {
    display: none;

}

#test-con{
    text-align: center;
    margin-top: 32rem;
    padding-top: 4rem;
}
#test-head{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.8rem 1rem;
}
#test-head p {
    font-size: 1.2rem;
    color: #314259;
}
#test-head h1{
    font-size: 2.4rem;
}
#test-card-con{
    width: 100%;
    height: 20rem;
    /* border: solid red; */
}
#test-card-box {
    /* border: solid green; */
    margin: 2rem 3rem;
    width: 86%;
    height: 17rem;
    padding: 0rem 3rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-self: center;
    position: relative;
}

#test-card {
    width: 28rem;
    /* border: solid blue; */
    text-align: justify;
    float: left;
    padding: .2rem 1rem;
    margin-right: 1.1rem;
    box-shadow: 0px 1px 5px rgba(45, 74, 170, 0.14);
    border-radius: .5rem;
    height: auto;
}
#test-card-lwr{
    /* border: solid; */
    padding: 1rem;
    position: relative;

}
#test-card-lwr-left > div{
    float: left;

}
#card-img {
    width: auto;
    /* float: left; */
    margin-right: .5rem;
}
#card-name {
    /* float: left; */
    text-align: left;
    /* margin-top: -10rem; */
}
#card-name p{
    margin-top: -1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: .9rem;
}
#card-name h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 1.1rem;
    font-weight: 550;

}

#space{
    width: 100%;
    height: 40rem;
}

#test-card-lwr {
    /* border: solid; */
    padding: 0rem;
    

}
#test-card-lwr-left {
    float: left;
    /* justify-items: center; */
    margin-right: 23%;

}
.test-card-head{
    width: auto;
}
#card-img {
    /* width: 2rem; */
    float: left;
    margin-right: .5rem;
}
#card-name {
    float: left;
    text-align: left;
    margin-top: -2rem;
}
#test-card-lwr-right {
    float: left;
    margin-top: -.5rem;
    
}
#test-card-lwr-right p{
    color: black;
}


#faq-ques {
    float: left;
    width: 96%;
    line-height: 3rem;
}
#faq-btn{
    float: left;
    width: 4%;

}
/* #qa-lwr{
    display: none;
}
#qa-lwr:hover{
    display: block;
} */

 #faq-btn input[type='checkbox']{
     /* content: "+"; */
     /* background-color: red;
     border: solid red; */
     position: absolute;
     opacity: 0;
     
    }
.checkbox input:checked + .checkmark::after {
  content: "-";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#FAQs-con-head{
    text-align: center;
    font-size: 1.4rem;
    padding-top: 4rem;
}
.b-shadow {
    width: 100%;
    text-align: left;
        padding: 1rem 2rem;
background-color: #fff; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* soft shadow */ 
/* cursor: pointer; */
 transition: box-shadow 0.3s ease;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.faq-btn::after {
    content: "+";
    font-size: 2.6rem;
    /* line-height: 1.75rem; */
    font-weight: 600;
    color: #283693;
}

#FAQs-con-lwr{
    /* border: solid; */
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;

}

#FAQs-con{
    margin-top: 5rem;
background-color: rgb(248 250 251 );

}


#contact-form-con{
        height: 65rem;
    margin-top: 11rem;
    padding-top: 4rem;
    background: linear-gradient(to left bottom,rgb(220,224,240),white, white,rgb(220,224,240));
}

#contact-form-head{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#contact-form-head h1{
    font-size: 2.7rem;
}
#contact-form-head p{
    font-size: 1.1rem;
    color: #314259;
    
}

.input-fields {
    outline: none;
    /* outline-offset: 76rem; */
    font-size: 1rem;
    width: 48%;
    float: left;
    padding: 1rem 2rem;
    font-weight: 400;
    margin-top: 2rem;
    border-radius: .2rem;
    margin-right: 1rem;
    resize: none;
    cursor:text;
    }
    #form-con textarea{
        width: 98%;
    }
#form-con{
    height: 42rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(248 250 251);
    text-align: center;
    margin-top: 4rem;
}


#captcha-con{
    /* width: auto; */
    width: 35%;
    height: auto;
    /* margin-top: 150rem; */
    display: flex;
    /* float: left; */
    /* border: solid; */
    /* border: solid red; */
    /* 

    flex-direction: row;
        align-items: center; */
        /* margin-top: 3rem;
        border: 1px solid #d3d3d3;
        padding: .5rem;
        */
        /* align-self: center; */
        justify-content: center;
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 28rem;
                        background: #f9f9f9;
                    border-radius: .3rem;
                    /* border: solid; */

                    border: 1px solid #d3d3d3;
}
.captch-box{
}
#checkbox-captcha{
    /* float: left; */
    /* width: 10%; */
}
#captcha-text{
    /* float: left; */
    /* width: 70%; */
}
#captcha-img{
    /* float: left; */
    /* width: 20%; */
}
#captcha-img img{
    width: 4rem;
}
input[type="checkbox"]{
   width: 1.5rem;
    height: 1.5rem;
    border: solid blue;
}
input[type="submit"]{
    background-color: rgb(40 54 147);
    color: white;
    padding: .8rem 2rem;
    font-size: 1rem;
    font-weight: 450;
    width: 21%;
    border-radius: .5rem;
    cursor: pointer;
}
#form-con input[type='submit']:hover{
    transform: scale(1.05);
    transition: .2s ease-in-out;
}


.footer{
    background-color: rgb(248 250 248);
    width: 200%;
}

.footer-con1{
    padding-top: 4rem;
    padding-left: 1.2rem;
    width: 40%;
    /* margin-top: 1rem; */
    
}

.footer-con1 img{
    
    width: 4.4rem;
}
#footer-con1-head {
    width: 100%;
    /* border: solid; */
    height: 5rem;
    padding-bottom: 6rem;
}
#footer-con1-head div{
    float: left;
}
#footer-con1-head p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 660;
    color: rgb(24 28 49);
    font-size: 1.2rem;
    
}
a{
    text-decoration: none;
    color: blue;
}
/* .footer-con1 svg:hover{
    background-color: blue;
    
    
    border-radius: 100%; 
    background: rgb(243, 243, 243);
    } */
    
.footer-con1 svg{
    width: 1.5rem;
    margin-right: .6rem;
    margin-bottom: 1rem;
}

.social-list{
    padding-bottom: 1rem;
}
.footer-col{
    width: 26%;
    float: left;

}
.footer-col h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    color: #181c31;
}
.footer-col ul{
    margin-top: 3rem;
}
.footer-col li{
    font-size: 1rem;
    font-weight: 400;
    list-style: none;
    color: #181c31;
    margin-left: -2.5rem;
    padding-bottom: 1rem;
    width: fit-content;
    cursor: pointer;
}
.footer-col li:hover{
    color: rgb(40 54 147);

    transform: translateX(.5rem);

    transition: .2s ease-in-out;

}
.footer-col p{
    color: #181c31;
    
}
.footer-con2 {
    padding: 0rem 1.2rem;
    align-content:start;
    float: left;
    width: 100%;
    height: 28.6rem;
    
    
}
.footer-col-last {
    width: 100%;

}
.footer-col-last img{
    width: 10rem;
    float: left;
    padding-bottom: .6rem;
}
.footer-col-last h3{
    color: rgb(32, 48, 154);

    font-size: 1rem;
}



#footer-con{
    text-align: center;
    width: 100%;
    margin-bottom: -1rem;
    /* border: solid; */
    padding-top: 0.1rem;
    background: rgb(40 54 147);
}
#footer-con p{
    bottom: 0;
    color: white;
    
}
footer {
    margin-left: -0.5rem;
    margin-right: -.5rem;
    /* left: 0;? */
}
.footer {
    background-color: rgb(248 250 248);
    width: 100%;
}       




/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.footer {
  background: #fff;
  border-top: 1px solid #eee;
}

.container {
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.footer-col {
  float: left;
  width: 20%;
  padding: 10px;
}
.footer-col h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-col li{
        font-family: "Poppins", sans-serif;

}


.logo-col {
  width: 25%;
}

.logo {
  font-size: 26px;
  margin-bottom: 15px;
}

.logo span {
  font-weight: normal;
}

.video-box img {
  width: 100%;
  border-radius: 6px;
}

.footer h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
}

.footer p {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-bottom {
  background: #1e2d8f;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
}

/* Clearfix */
.clearfix {
  clear: both;
}

/* =========================
   Responsive (Mobile)
========================= */
/* @media only screen and (max-width: 768px) {

  .footer-col,
  .logo-col {
    width: 100%;
    float: none;
    margin-bottom: 25px;
  }

  .container {
    padding: 20px 0;
  }

  .footer-bottom {
    font-size: 13px;
  }
}  */












@media only screen and (max-width: 768px) {

    /* #main-page-con-left {
    width: 21rem;
    } */
    nav {
        width: 46rem;
        max-width: 48rem;
        align-items: center;
        padding: .3rem .3rem;
        /* align-items: center; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* padding: 1rem 1rem; */

    }

    #navBar-left img {
        width: 7.5rem;

    }

    #navBar-left-cmp-name {
        /* position: absolute; */
        margin-left: 29.3vw;
        margin-top: 9.1vw;
        text-align: center;
    }

    .cmp-name {
        font-weight: bold;
        font-size: 1.9rem;
        color: rgba(0, 0, 0, 0.9);
    }

    #main-page-con-left {
        width: 100%;
    }

    #main-page-con-left h1 {
        font-size: 9rem;
    }

    /* #main-page-con h1 {
        font-size: 3rem;
    } */

    #main-page-con-left p {
        font-size: 2.3rem;
    }

    #navBar-right {
        display: none;
    }

    /* #navBar-left-cmp-name span {
        margin-left: 3rem;
        margin-top: 3rem;

    } */

    .icon-bar {
        display: inline;
        /* float: right; */
        position: absolute;
        margin-left: 39rem;
        margin-top: -1rem;
        cursor: pointer;
        font-size: 2.5rem;
    }

    /* #main-page-con {
        width: 100%;
        height: 73rem;
        padding: 6rem 1rem;
       } */

    #main-page-con {
        width: 192%;
        height: 150rem;
        padding: 9rem 1rem;
        /* border: solid; */
    }


    #main-page-con-right {
        /* margin-left: 21.5vw;
    margin-top: 20vw;
    position: relative; */
        /* height: 105rem; */
        margin-top: 111vw;
    }

    #main-page-con h1 {
        font-size: 3.7rem;
    }

    #main-page-con iframe {
        width: 37rem;
        height: 23rem;
    }

    .dwn-line {
        font-size: 1.7rem;
    }

    #dwn-img img {
        width: 18.8rem;
    }

    #dwn-img div {
        margin-right: 1rem;
    }

    /* #circle {
        width: 22rem;
        height: 20rem;
        background: rgb(21, 76, 139);
        border-radius: 100%;
        position: absolute;
        margin-top: 55rem;
        margin-left: -13rem;
    } */
    #circle {
        width: 42rem;
        height: 44rem;
        background: rgb(21, 76, 139);
        border-radius: 100%;
        position: absolute;
        margin-top: 59rem;
        margin-left: -12rem;
    }


    #main-page-right-img-box {
        margin: 5.8rem 3.7rem;
        width: 35rem;
        text-align: center;
        justify-content: center;
    }

    #main-page-right-box img {
        border-radius: 5rem;
        margin-top: -.6vw;
        width: 100%;
        height: auto;
        /* position: absolute; */
    }

    #wave-svg {
        margin-top: 141vw;
        margin-left: -13vw;

        position: absolute;
    }

    #dimond-svg {
        margin-top: -9vw;
        margin-left: 31rem;
        z-index: -1;
    }


    svg {
        width: 8rem;
        height: auto;
    }

    /* 
    #main-page-right-img-box {
        margin: 2.8rem 2.7rem;
        width: 63vw;
    } */


    #feat-banner {
        width: 46rem;
        padding-top: 13rem;
        /* border: solid; */
        height: 116rem;
    }

    #feat-banner h3 {
        font-size: 2.2rem;
    }

    .feat-banner-cards {
        padding: 1rem 1rem;
        text-align: center;
        width: 46rem;
        height: auto;
    }

    .icons {
        font-size: 5rem;
    }

    .ss-header {
        width: 100%;
        /* text-align: center; */
        padding: 3rem .2rem;
        font-size: 1rem;
        /* margin-top: 54rem; */
    }

    .ss-header h1 {
        font-size: 2.7rem;

    }

    #app-ss-con p {
        font-size: 1.9rem;

    }

    #app-ss {
        height: 146rem;
    }

    #app-ss img {
        margin-left: 3rem;
        width: 26rem;
    }

    #app-ss-con {
        /* margin-top: 25vw; */
        margin-left: auto;
        margin-right: auto;
        /* margin-top: 18rem; */
        /* padding: 2vw 6rem; */
        width: 195%;
        /* border: solid; */
    }

    #best-features-con {
        margin-top: 22rem;
        width: 195%;
        height: auto;
        /* border: solid; */
    }

    #best-features-head p {
        padding: 3rem 0rem;
        font-size: 2.2rem;
        width: 44rem;
    }

    #best-features-head {
        margin-left: auto;
        margin-right: auto;
        padding: 0vw 2vw;
        text-align: center;
    }

    #feat-cards-con {
        height: 270rem;
        /* border: 1px solid; */
    }

    #about-app-con {
        /* width: ; */
        width: 158%;
    }

    .icon-img {
        width: 7rem;
        height: 7rem;
    }

    #feat-banner p {
        font-size: 2rem;
    }

    #best-features-head h1 {
        font-size: 3rem;
        /* padding: 1rem; */
    }

    #feat-cards {
        height: 136rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.4rem;
        /* border: solid; */
        padding-top: 6rem;
    }

    .feat-cards-items {
        width: 100%;
        height: 20rem;
        text-align: center;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 23rem;
    }

    .feat-icons {
        width: 9.5rem;
    }

    .feat-cards-items h3 {
        font-size: 2.3rem;
    }

    .feat-cards-items p {
        font-weight: 400;
        color: rgb(50, 66, 89);
        font-size: 2rem;
    }

    .feat-cards-items {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 4rem 1rem;
        /* padding-left: 2.5rem; */
        /* padding-right: 2.5rem; */
        /* padding-bottom: 23rem; */
    }

    .feat-cards-items {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 4rem 4rem;
        /* padding-left: 2.5rem; */
        /* padding-right: 2.5rem; */
        /* padding-bottom: 23rem; */
    }

    #feat-cards {
        height: 135rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.4rem;
        /* border: solid; */
        padding-top: 1rem;
    }

    #about-app-con {
        width: 196%;
    }

    #about-con1 {
        width: 100%;
        height: auto;
        /* border: solid; */
    }

    #about-app-con1-left {
        width: 100%;
        padding: 10rem 1rem;
    }

    #about-app-con1-right {
        width: 100%;
        float: left;
        padding: 5rem 0rem;
        text-align: center;

    }

    #about-app-con1-left img,
    #about-app-con2-right img {
        height: 69rem;
    }

    #about-app-con h1 {
        font-size: 3.2rem;
        padding-bottom: 1rem;
    }


    #about-app-con p {
        font-size: 2.2rem;
    }

    #about-app-con {
        margin-top: 4rem;
        padding-top: 5rem;
        height: 580rem;

        /* border: solid green; */
    }

    #about-con2 {

        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        padding-left: 1rem;
        height: auto;
        /* border: solid blue; */
        padding-top: 6rem;
    }

    #about-app-con2-right {
        width: 100%;
        height: auto;
        padding-top: 0;
    }

    #about-app-con h1 {
        text-align: center;

    }

    #about-app-con2-left h3 {
        font-size: 2.6rem;
    }

    #about-app-con2-left li {
        font-size: 2.5rem;
    }

    #about-app-con2-left {
        width: 100%;
    }

    li::marker {
        font-size: 4.3rem;
    }

    #work-process-con {
        width: 200%;
        height: 166rem;
        padding: 2rem 0rem;
    }

    #work-process-head {
        text-align: center;
        padding: 0rem 0rem;
    }

    #work-process-head h1 {
        font-size: 3.7rem;
    }

    #work-process-head p {
        font-size: 2.5rem;
    }

    #conn-b,
    #conn-t {
        display: none;
    }

    #custom-con {
        width: 200%;
        padding: 2rem 5rem;
    }

    #download-banner-left {
        width: 105%;
        padding: 1rem 1rem;
        text-align: center;
    }

       #download-banner-con{

        height: 196rem;
        border-radius: 1rem;
        /* border: solid red; */
        width: 200%;
    }
    #download-banner-left h1 {
        font-size: 3.2rem;
    }

    #download-banner-con {
        padding: 0rem 2rem;
    }

    #download-banner-left p {
        font-size: 2.35rem;
    }

    #download-banner-left img {
        width: 20rem;
        margin-right: .5rem;
    }

    #download-banner-right img {
        width: 100%;
    }

    #download-banner-right {
        width: 100%;
        /* border: solid; */
        height: auto;
        padding-top: 7rem;
        padding-left: 5rem;
        padding-right: 2rem;
    }

    .dwn-right-img1 {
        display: none;
    }

    .dwn-right-img12 {
        display: inline;
    }

    .dwn-right-img2 {
        display: none;
    }

    .dwn-right-img21 {
        display: inline;
    }
    #test-con {
    text-align: center;
    margin-top: 210rem;
    width: 200%;
    height: 77rem;
}
#test-card-box {
    /* border: solid green; */
    /* margin: 2rem 3rem; */
    /* width: 205%; */
    width: fit-content;
    height: 35rem;
padding: 1rem 1rem;
    border: solid;
    overflow: hidden;
}
#test-head {
    width: 100%;
}
#test-head h1 {
    font-size: 3.4rem;
}
#test-head p {
    font-size: 2.5rem;
    color: #314259;
}
#test-card {
        width: 45rem;
    }
#test-card p{
    font-size: 2.2rem;
}
#card-img img{
    width: 5rem;
}
#card-name h4 {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    color: black;
    font-size: 2.1rem;
}
#card-name {

    margin-top: -3rem;
}
#test-card-lwr-left {
    margin-right: 0%;
}
#FAQs-con{
    /* border: solid red; */
    text-align: center;
    width: fit-content;
    margin-top: 20rem;
}
#FAQs-con-head{
    /* border: solid black; */
    width:48rem;
}

#FAQs-con-lwr{
    margin-top: 7rem;
    
}
.b-shadow{
    background-color: #fff; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* soft shadow */ 
    /* cursor: pointer;  */
    transition: box-shadow 0.3s ease;
    font-size: 2.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 98%;

        padding: 1rem 2rem;
    /* background: red; */
    text-align: left;
}  
 
.b-shadow p {
        color: #545454;
        font-size: 2rem;
    }

#faq-ques{
    float: left;
    width: 95%;
}
#faq-btn{
    float: left;
    width: 5%;

}
#FAQs-con-lwr {
    /* border: solid; */
    width: 98%;
}

    #contact-form-con {
        height: 135rem;
        width: 200%;
        /* border: solid; */
        padding: 0rem 1rem;
        margin: 1rem 1rem;
        background: white;
    }
.input-fields {
        outline: none;
        /* outline-offset: 76rem; */
        font-size: 2.2rem;
        width: 100%;
        padding: 1.5rem 3rem;
        font-weight: 400;
        margin-top: 5rem;
        border-radius: .5rem;
        /* border: none; */
        outline: none;
        outline-offset: 1rem;
    }
    #contact-form-head h1 {
    font-size: 3rem;
}
#contact-form-head {
    width: 100%;
}
#contact-form-head p {
    font-size: 2.4rem;
    color: #314259;
}
    #form-con {
        height: 115rem;
        padding: 1rem 2rem;
        margin: 0rem 1rem;
        text-align: center;
        background-color: rgb(248 250 251);
        width: 96%;
    }
#footer-con {
    /* text-align: center; */
    width: 200%;
}

#captcha-con{
    /* width: auto; */
    width: 100%;
    height: auto;
    display: flex;
    /* float: left; */
    /* border: solid; */
    border: solid red;
    flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 84rem;
            border: 1px solid #d3d3d3;
        padding: 1rem;


        
}
.captch-box{
}
#checkbox-captcha{
    /* float: left; */
    /* width: 10%; */
}
#captcha-text{
    /* float: left; */
    /* width: 70%; */
}
#captcha-img{
    /* float: left; */
    /* width: 20%; */
}
#captcha-img img{
    width: 100%;
}
input[type="checkbox"]{
    width: 4rem;
    height: 3rem;
    border: solid blue;
}
input[type="submit"]{
   background-color: rgb(40 54 147);
        color: white;
        padding: .8rem 2rem;
        font-size: 2.3rem;
        font-weight: 400;
        width: 55%;
        border-radius: 1rem;
}
.footer {
    margin-top: 19rem;
    width: 200%;
}

.footer-col {
    width: 100%;
    /* float: left; */
}
.footer-con1 {
    width: fit-content;
    /* margin-top: 1rem; */
}
.footer-con1 img {
    width: 8.4rem;
}
#footer-con1-head p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 660;
    color: rgb(24 28 49);
    font-size: 2.2rem;
}
.social-list {
    padding-bottom: 1rem;
    margin-top: 4rem;
}
.video-box{
    border: solid;
    height: auto;
}
    .video-box iframe {
        width: 30rem;
        height: 20rem;
    }
    .footer-con1 svg {
        width: 3.5rem;
        margin-right: 1.6rem;
        margin-bottom: 1rem;
    }
    .footer-col h3 {
        font-size: 2.7rem;
    }
    .footer-col li {
        font-size: 2rem;
    }
    .footer-con2  {
        height: fit-content;
    }
    .footer-col p {
    font-size: 2rem;
}
.footer-col-last h3 {
    color: rgb(32, 48, 154);
    font-size: 2rem;
}

.footer-col-last img {
    width: 19rem;
    /* float: left; */
    padding-bottom: .6rem;
    margin-right: 5rem;
}
#footer-con p {
    font-size: 2rem;
}
    .footer-con2 {
        height: fit-content;
        padding-bottom: 6REM;
    }
    #footer-con {
        /* text-align: center; */
        width: 200%;
        margin-bottom: -2rem;
    }
    footer {
    margin-left: -0.5rem;
    margin-right: -.8rem;
}
}