* {
    top: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    font-size: x-large;
    color: gray;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 540;
    font-style: normal;
    /* font-size: 1.3vw; */
}

h1 {
    color: rgb(24, 28, 49);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

p {
    color: rgb(111, 123, 139);
    font-size: 1rem;
    font-family: "Poppins", sans-serif;

}

nav {
    font-family: "Nunito Sans", sans-serif;
    background: rgba(255, 255, 255, 0.8);
    /* padding-top: .1vw; */
    position: sticky;
    z-index: 1;
    backdrop-filter: blur(10px);
    /* position: fixed; */
    /* top: 0px; */
    /* padding-top: .5rem;
    z-index: 50;
    height: 80px;
    width: 100%; */


}

#navBar-con {
    position: relative;
}


#navBar-left {
    /* font-size: 90px; */
    width: 30%;
    /* align-content: center; */
}

#navBar-left img {
    width: 4rem;
    height: auto;
}


#navBar-left-cmp-name {
    position: absolute;
    margin-left: 5.3vw;
    margin-top: 1.1vw;
}

#navBar-right {
    position: absolute;
    width: fit-content;
    text-align: right;
    width: 100%;
    align-content: center;
}

#navBar-right a {
    /* position: relative; */
    text-decoration: none;
    color: rgb(114, 117, 125);
    padding: 0vw 1.2vw;
    font-size: 1rem;
    font-weight: 500;
    align-self: center;
}

#navBar-right a:hover {
    color: rgb(40, 54, 147);
    transition: .5s ease;

}


.cmn-clr {
    color: rgb(40, 54, 147);
    font-weight: 700;
}

.icon-img{
    width: 64px;
    height: 64px;
    align-self: baseline;
    justify-content: baseline;
    justify-items: baseline;
}

#main-page-con {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 6rem 2.2rem;

}

#main-page-con-left {
    width: 45vw;
}

#main-page-con-left {
    font-size: 1.7vw;
    color: rgb(67, 83, 104);
}

#main-page-con h1 {
    font-weight: 500;

}

#dwn-img {
    width: fit-content;
}

#dwn-img div {
    width: fit-content;
    float: left;
    margin-right: 1vw;

}

#main-page-con-right {

    /* float: right; */
    position: absolute;
    margin-left: 58.5vw;
    margin-top: 16vw;
}

#circle {
    width: 27rem;
    height: 27rem;
    background: rgb(21, 76, 139);
    border-radius: 100%;
    position: absolute;
}

#main-page-right-box {
    /* padding: 10px; */

}

#main-page-right-img-box {
    margin: 2.4rem 2.3rem;
    width: 25vw;
}

#main-page-right-box img {
    border-radius: 5vw;
    margin-left: 2.1vw;
    margin-top: -.6vw;
    width: 100%;
    height: auto;
    /* position: absolute; */

}

#wave-svg {
    margin-top: 29vw;
    margin-left: -.5vw;
    position: absolute;
}

#dimond-svg {
    margin-top: 1vw;
    margin-left: 30vw;
    position: absolute;
}

svg {
    width: 5.3vw;
    height: auto;
}

.icons {
    font-size: 5vw;
    color: rgb(56, 69, 155);
}

#feat-banner {
    width: 100%;
    height: auto;
    /* padding: 10vw 10vw; */
    background: red;
    margin-top: 5vw;
}

.feat-banner-cards {
    padding: 6vw 1.5vw;
    text-align: center;
    width: 20%;
    height: 18rem;
    left: 0;
    float: left;
    color: rgb(49, 66, 89);
    background: rgb(248, 250, 252);

    /* justify-items: left; */
    /* align-self: start; */
    /* margin: 0 auto; */
    /* box-sizing: border-box; */
    /* padding-right: 20px; */
    /* color: rgb(49,66,89); */
}

.feat-banner-cards h3,.feat-banner-cards p{
    margin-top: .3rem;
}
#feat-banner h3 {
    font-size: x-large;
    font-weight: 500;
}

#feat-banner p {
    margin-top: -1vw;
    font-weight: 400;
    color: inherit;

}

.cmn-effect {
    padding-top: 1rem;
}

#app-ss-con {
    /* margin-top: 25vw; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 18rem;
    padding: 3vw 6rem;
    width: 100%;
}
#app-ss{
    padding: 0rem 0rem;
    margin-left: 2rem;
    width: 100%;
    height: 32rem;
}
#app-ss img {
    width: 17rem;
    height: auto;
    border-radius: 1rem;
    /* margin: 1rem; */
}

.ss-header {
    width: 100%;
    text-align: center;
    padding: 3rem 13vw;
    font-size: 1.3rem;
}

.ss-header h1 {
    font-size: 2.7rem;
}

#app-ss-con p {
    font-size: 7rem;
    font-weight: 450;
    font-size: large;
}


#app-ss div {
    float: left;
    /* margin-right: 4rem; */
    /* display: ; */
        width: 1rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-right: 20rem;
    /* padding: 0rem 8rem; */
    /* padding-left: 3rem; */
}



/* #main-page-right-box img{
    padding-left: 4vw;
    padding-top: 2vw;
    border-radius: 20px;
} */
/* border-bottom-left-radius: 2vw; */
/* border-start-end-radius: 2vw; */
.icon-bar {
    display: none;
    color: black;
}

#best-features-con{
    margin-top: 4rem;
    padding-top: 3rem;
    
    /* border: 1px solid; */
}
#best-features-head{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0vw 20vw;
    text-align: center;
}
#best-features-head h1{
    font-size: 2.7rem;
    padding: 1rem;
    
}
#best-features-head p{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(50,66,89);
    margin-top: -4rem;
    padding: 2rem .3rem;
}
#feat-cards-con{
    /* border: 1px solid; */
    margin-top: 9rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 5px rgba(45, 74, 170, 0.14);
    z-index: 10;
    padding-top: 5rem;
/* padding: 5rem 0rem; */
margin: .5rem .5rem;
    /* padding: 2rem 2rem; */
}
#feat-cards{
    /* padding: 2rem 3rem; */
    /* border: 1px solid;
    height: 48.8rem; */
    /* width: fit-content; */
    /* margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto; */
    /* padding: 4rem 2rem; */
    /* margin: 2rem 1rem; */

    /* columns: 3; */
    
    /* padding-left: 2rem; */

        /* padding: 2rem 3rem; */
    /* border: 1px solid; */
    height: 45.8rem;
    /* width: fit-content; */
    margin-left: auto;
    margin-right: auto;
    /* padding-left: auto;
    padding-right: auto; */
    /* padding: 4rem 2rem; */
    /* margin: 2rem 1rem; */
    /* columns: 3; */
    padding-left: 1.4rem;
    


    
}
.feat-cards-items{
    float: left;
    /* border: 1px solid; */
    width: 24rem;
    height: 20rem;
    text-align: center;
    /* margin-right: 3rem; */
    /* padding: 2rem 0rem; */
    /* padding: 1rem 2rem; */
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 23rem;

}
.feat-cards-items h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(24,28,49);
    font-weight: 600;
    font-size: 1.5rem;
}
.feat-cards-items p{
    font-weight: 400;
    color: rgb(50,66,89);
}
.feat-icons{
   background: rgb(233, 235, 244);
    border-radius: 1.5rem;
    width: 5.5rem;
    padding: 20px;
    color: rgb(56, 69, 155);


    
}

.feat-icons:hover,
.feat-icons i:hover {
    color: white;
    background: rgb(56, 69, 155);
    /* border-radius: 1.5vw; */
    transition: 1.5s ease;
    cursor: pointer;
}


#about-app-con{
    margin-top: 4rem;
    padding-top: 5rem;
        height: 200rem;
    border: solid;
    width: 92%;
    margin-left: auto;
    margin-right: auto;

}

#about-con1{
    float: left;
    /* width: 100%; */
    height: 38rem;
    padding: 0rem 2rem;
}
#about-app-con img{
    height: 34rem;
}
#about-app-con h1{
    font-size: 2.2rem;
    padding-bottom: 1rem;
}
#about-app-con p{
    text-align: justify;
    font-size: 1.2rem;
    color: rgb(50,66,89);

}
#about-app-con1-left{
    /* width: 51%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center; */
        width: 40%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#about-app-con1-right{
    /* width: 49%;
    float: left; */
        width: 60%;
    float: left;
    padding-left: 7rem;
}
#about-con2{
    margin-top: 32rem;
    padding-top: 10rem;
    padding-left: 1rem;

}
#about-app-con2-left h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: #314259;
}
#about-app-con1-left img,#about-app-con2-right img{
    height: 35rem;
}
#about-app-con2-left li{
    font-size: 1.2rem;
    font-weight: 400;
    list-style-image: url(/assets/tick_icon.svg);
    color: #314259;
    /* text-align: justify; */
    margin-top: -.5rem;
}
li::marker{
    font-size: 2.3rem;
}
#about-app-con2-left{
    float: left;
    width: 50%;
}
#about-app-con2-right{
    float: left;
    width: 50%;
    text-align: center;
    height: 50rem;
    padding-top: 6rem;
}
#main-page-con-left p{
    font-weight: 800; 
    font-size: 1.3rem; 
    color: rgb(49,66,89);
}

@media only screen and (max-width: 768px) {
    /* #main-page-con-left {
    width: 21rem;
    } */
     #main-page-con-left {
        width: 100%;
    }

    #main-page-con-left h1 {
        font-size: 9rem;
    }
    /* #main-page-con h1 {
        font-size: 3rem;
    } */

    #main-page-con-left p{
        font-size: 1.7rem; 
    }
    #navBar-right {
        display: none;
    }

    #navBar-left-cmp-name span {
        margin-left: 3rem;
        margin-top: 3rem;

    }

    .icon-bar {
        display: inline;
        /* float: right; */
        position: absolute;
        margin-left: 30rem;
        margin-top: 1rem;
        cursor: pointer;
    }

       /* #main-page-con {
        width: 100%;
        height: 73rem;
        padding: 6rem 1rem;
       } */

       #main-page-con {
        width: 147%;
        height: 73rem;
        padding: 8rem 1rem;
    }


    /* #main-page-con-right{
        margin-left: 21.5vw;
    margin-top: 20vw;
    position: relative;
    height: 12rem;
    } */
    #main-page-con h1 {
        font-size: 1.9rem;
    }

    #dwn-img div {
    margin-right: 1rem;
    }

    #circle {
        width: 22rem;
        height: 20rem;
        background: rgb(21, 76, 139);
        border-radius: 100%;
        position: absolute;
        margin-top: 43rem;
        margin-left: -13rem;
    }
    #wave-svg {
        margin-top: 65vw;
        margin-left: -2.9vw;

        position: absolute;
    }
    #dimond-svg {
    margin-top: -2vw;
    margin-left: 71vw;
    }
    svg{
        width: 3rem;
        height: auto;
    }

    #main-page-right-img-box {
        margin: 2.8rem 2.7rem;
        width: 63vw;
    }

    #wave-svg {
        margin-top: 65vw;
        margin-left: 7.1vw;
        position: absolute;
    }
    #feat-banner{
        width: 100%;
    }

    #feat-banner h3 {
    font-size: 1.5rem;
    }
    .feat-banner-cards {
    /* padding: 0vw 0vw; */
    text-align: center;
    width: 27rem;
    height: 15rem;
    }
    .icons {
    font-size: 5rem;
    }
    .ss-header {
    width: 100%;
    /* text-align: center; */
    padding: 3rem 0vw;
    font-size: 1rem;
    }
    .ss-header h1{
        font-size: 1.7rem;

    }
    #app-ss img {
        margin-left: 3rem;
    }
    #app-ss-con {
        padding: 3rem 1rem;
    }
}