* {
    top: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    font-size: x-large;
    color: gray;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 540;
    font-style: normal;
    /* font-size: 1.3vw; */
}

h1 {
    color: rgb(24, 28, 49);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

p {
    color: rgb(111, 123, 139);
    font-size: 1rem;

}

nav {
    font-family: "Nunito Sans", sans-serif;
    background: rgba(255, 255, 255, 0.8);
    /* padding-top: .1vw; */
    position: sticky;
    z-index: 1;
    backdrop-filter: blur(10px);
    /* position: fixed; */
    /* top: 0px; */
    /* padding-top: .5rem;
    z-index: 50;
    height: 80px;
    width: 100%; */


}

#navBar-con {
    position: relative;
}


#navBar-left {
    /* font-size: 90px; */
    width: 30%;
    /* align-content: center; */
}

#navBar-left img {
    width: 4rem;
    height: auto;
}


#navBar-left-cmp-name {
    position: absolute;
    margin-left: 5.3vw;
    margin-top: 1.1vw;
}

#navBar-right {
    position: absolute;
    width: fit-content;
    text-align: right;
    width: 100%;
    align-content: center;
}

#navBar-right a {
    /* position: relative; */
    text-decoration: none;
    color: rgb(114, 117, 125);
    padding: 0vw 1.2vw;
    font-size: 1rem;
    font-weight: 500;
    align-self: center;
}

#navBar-right a:hover {
    color: rgb(40, 54, 147);
    transition: .5s ease;

}


.cmn-clr {
    color: rgb(40, 54, 147);
    font-weight: 700;
}

#main-page-con {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 6rem 2.2rem;

}

#main-page-con-left {
    width: 45vw;
}

#main-page-con-left {
    font-size: 1.7vw;
    color: rgb(67, 83, 104);
}

#main-page-con h1 {
    font-weight: 500;

}

#dwn-img {
    width: fit-content;
}

#dwn-img div {
    width: fit-content;
    float: left;
    margin-right: 1vw;

}

#main-page-con-right {

    /* float: right; */
    position: absolute;
    margin-left: 58.5vw;
    margin-top: 16vw;
}

#circle {
    width: 27rem;
    height: 27rem;
    background: rgb(21, 76, 139);
    border-radius: 100%;
    position: absolute;
}

#main-page-right-box {
    /* padding: 10px; */

}

#main-page-right-img-box {
    margin: 2.4rem 2.3rem;
    width: 25vw;
}

#main-page-right-box img {
    border-radius: 5vw;
    margin-left: 2.1vw;
    margin-top: -.6vw;
    width: 100%;
    height: auto;
    /* position: absolute; */

}

#wave-svg {
    margin-top: 29vw;
    margin-left: -.5vw;
    position: absolute;
}

#dimond-svg {
    margin-top: 1vw;
    margin-left: 30vw;
    position: absolute;
}

svg {
    width: 5.3vw;
    height: auto;
}

.icons {
    font-size: 5vw;
    color: rgb(56, 69, 155);
}

#feat-banner {
    width: 100%;
    height: auto;
    /* padding: 10vw 10vw; */
    background: red;
    margin-top: 5vw;
}

.feat-banner-cards {
    padding: 2vw 1vw;
    text-align: center;

    width: 20%;
    height: 18rem;
    left: 0;
    float: left;
    color: rgb(49, 66, 89);
    background: rgb(248, 250, 252);

    /* justify-items: left; */
    /* align-self: start; */
    /* margin: 0 auto; */
    /* box-sizing: border-box; */
    /* padding-right: 20px; */
    /* color: rgb(49,66,89); */
}

#feat-banner h3 {
    font-size: x-large;
    font-weight: 500;
}

#feat-banner p {
    margin-top: -1vw;
    font-weight: 400;
    color: inherit;

}

.cmn-effect {
    padding-top: 50rem;
}

#app-ss-con {
    /* margin-top: 25vw; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 18rem;
    padding: 3vw 6rem;
    width: 100%;
}
#app-ss img {
    width: 17rem;
    height: auto;
    border-radius: 1rem;
}

.ss-header {
    width: 100%;
    text-align: center;
    padding: 3rem 13vw;
    font-size: 1.3rem;
}

.ss-header h1 {
    font-size: 2.7rem;
}

#app-ss-con p {
    font-size: 7rem;
    font-weight: 450;
    font-size: large;
}

#app-ss div {
    float: left;
    margin-right: 4rem;
}



/* #main-page-right-box img{
    padding-left: 4vw;
    padding-top: 2vw;
    border-radius: 20px;
} */
/* border-bottom-left-radius: 2vw; */
/* border-start-end-radius: 2vw; */
.icon-bar {
    display: none;
    color: black;
}

@media only screen and (max-width: 768px) {
    #main-page-con-left {
    width: auto;
    }
    #main-page-con-left h1 {
        font-size: 2rem;
    }
    #navBar-right {
        display: none;
    }

    #navBar-left-cmp-name span {
        margin-left: 3rem;
        margin-top: 3rem;

    }

    .icon-bar {
        display: inline;
        /* float: right; */
        position: absolute;
        margin-left: 23rem;
        margin-top: 1rem;
        cursor: pointer;
    }

       #main-page-con {
        width: 100%;
        height: 73rem;
        padding: 6rem 1rem;
       }

    /* #main-page-con-right{
        margin-left: 21.5vw;
    margin-top: 20vw;
    position: relative;
    height: 12rem;
    } */
    #main-page-con h1 {
        font-size: 1.9rem;
    }

    #dwn-img div {
    margin-right: 1rem;
    }

    #circle {
        width: 22rem;
        height: 20rem;
        background: rgb(21, 76, 139);
        border-radius: 100%;
        position: absolute;
        margin-top: 40rem;
        margin-left: -13rem;
    }
    #wave-svg {
        margin-top: 65vw;
        margin-left: -2.9vw;

        position: absolute;
    }
    #dimond-svg {
    margin-top: -2vw;
    margin-left: 71vw;
    }
    svg{
        width: 3rem;
        height: auto;
    }

    #main-page-right-img-box {
        margin: 2.8rem 2.7rem;
        width: 63vw;
    }

    #wave-svg {
        margin-top: 65vw;
        margin-left: 7.1vw;
        position: absolute;
    }
    #feat-banner{
        width: 100%;
    }

    #feat-banner h3 {
    font-size: 1.5rem;
    }
    .feat-banner-cards {
    /* padding: 0vw 0vw; */
    text-align: center;
    width: 27rem;
    height: 15rem;
    }
    .icons {
    font-size: 5rem;
    }
    .ss-header {
    width: 100%;
    /* text-align: center; */
    padding: 3rem 0vw;
    font-size: 1rem;
    }
    .ss-header h1{
        font-size: 1.7rem;

    }
    #app-ss img {
        margin-left: 3rem;
    }
    #app-ss-con {
        padding: 3rem 1rem;
    }
}